---
import { Picture } from "astro:assets";
import DefaultLayout from "@layouts/DefaultLayout.astro";

import { getSingleton } from "@utils/contents";
import { getStaticPathParamsWithLocale, goToBlog } from "@utils/i18n";

export const getStaticPaths = () => {
	return getStaticPathParamsWithLocale();
};

const { locale } = Astro.params;
const information = await getSingleton("information");
const ui = await getSingleton("ui");
---

<DefaultLayout title={ui.must("page.home.title", locale)} {locale}>
	<div class="h-100% max-w-lg w-100% items-center justify-center">
		<Picture
			src={information.must("profilePicture")}
			alt="profile picture"
			formats={["avif", "webp"]}
			layout="constrained"
			width={256}
			loading="lazy"
			class="rounded-2xl"
		/>
		<span
			class="text-2xl text-red-500 mt-3 text-center black:text-red-300 dark:text-red-400"
		>
			{information.must("firstName", locale)}
			{information.must("lastName", locale)}
			({information.must("nickName", locale)})
		</span>
		<span
			class="text-sm text-gray-500 mt-1 text-center black:text-gray-200 dark:text-gray-300"
		>
			{information.must("title", locale)}
		</span>
		<span
			class="text-lg text-black mt-5 text-center black:text-white dark:text-white"
		>
			{information.must("summary", locale)}
		</span>
		<hr class="mt-5 border-1 w-100%" />

		<div class="mt-2">
			<a href={goToBlog(locale)}>Go to blog</a>
		</div>
	</div>
</DefaultLayout>
