---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Title from "@components/Title.astro";

import { getSingleton } from "@utils/contents";
import { getLocales, getLocale } from "@utils/i18n";

export function getStaticPaths() {
	return getLocales().map((locale) => ({ params: { locale } }));
}

const locale = getLocale(Astro.currentLocale);
const information = await getSingleton("information");
---

<DefaultLayout title="Home Page">
	<Title text="Astro" />
	<span id="name" class="text-2xl text-red-400 font-mono">
		{information.getByLocale("firstName", locale)}
		{information.getByLocale("lastName", locale)}
	</span>
</DefaultLayout>
