---
import BaseLayout from "@layouts/BaseLayout.astro";
import Title from "@components/Title.astro";

import { readSingleton } from "@utils/keystatic";
import { getLocales, getLocale } from "@utils/i18n";

export function getStaticPaths() {
	return getLocales().map((locale) => ({ params: { locale } }));
}

const locale = getLocale(Astro.currentLocale);
const information = await readSingleton("information");
---

<BaseLayout lang={locale} title="Astro">
	<Title text="Astro" />
	<span id="name" class="text-2xl font-sans">
		{information.getByLocale("firstName", locale)}
		{information.getByLocale("lastName", locale)}
	</span>
</BaseLayout>
