---
import { Picture } from "astro:assets";

import DefaultLayout from "@layouts/DefaultLayout/DefaultLayout.astro";
import CenterContainer from "@components/molecules/CenterContainer/CenterContainer.astro";
import Heading from "@components/atoms/Heading.svelte";
import Caption from "@components/atoms/Caption.svelte";
import Paragraph from "@components/atoms/Paragraph.svelte";

import { getStaticPathsWithLocale } from "@core/utils/path";
import { getSingleton } from "@core/contents";

export const getStaticPaths = getStaticPathsWithLocale();

const { locale } = Astro.params;
const information = await getSingleton("information");
const ui = await getSingleton("ui");

const name = `${information.must("firstName", locale)} ${information.must("lastName", locale)}`;
---

<DefaultLayout title={ui.must("page.home.title", locale)} {locale}>
	<CenterContainer class="text-center md:max-w-xl">
		<Picture
			src={information.must("profilePicture")}
			alt="profile picture"
			formats={["avif", "webp"]}
			layout="constrained"
			width={256}
			loading="lazy"
			class="mb-2 rounded-2xl"
		/>
		<Heading
			level={1}
			class="text-primary-light black:text-primary-black dark:text-primary-dark"
		>
			{name}
			<span class="font-medium">
				({information.must("nickName", locale)})
			</span>
		</Heading>
		<Caption class="mt-1">
			<span class="font-normal">{information.must("title", locale)}</span>
			@
			{information.must("company", locale)}
		</Caption>
		<Paragraph class="mt-3">
			{information.must("summary", locale)}
		</Paragraph>
	</CenterContainer>
</DefaultLayout>
