---
import DefaultLayout from "@layouts/DefaultLayout.astro";

import { getSingleton } from "@utils/contents";
import { getStaticPathParamsWithLocale, goToBlog } from "@utils/i18n";

export const getStaticPaths = () => {
	return getStaticPathParamsWithLocale();
};

const { locale } = Astro.params;
const information = await getSingleton("information");
const ui = await getSingleton("ui");
---

<DefaultLayout title={ui.must("page.home.title", locale)} {locale}>
	<div>
		<span id="name" class:list={["text-2xl", "text-red-400", "font-mono"]}>
			{information.must("firstName", locale)}
			{information.must("lastName", locale)}
		</span>
	</div>
	<div class:list={["mt-4"]}>
		<a href={goToBlog(locale)}>Go to blog</a>
	</div>
</DefaultLayout>
