---
import DefaultLayout from "@layouts/DefaultLayout.astro";

import { getSingleton } from "@utils/contents";
import { getLocales, getLocale } from "@utils/i18n";

export function getStaticPaths() {
	return getLocales().map((locale) => ({ params: { locale } }));
}

const locale = getLocale(Astro.currentLocale);
const information = await getSingleton("information");
---

<DefaultLayout title="Home Page">
	<div>
		<span id="name" class:list={["text-2xl", "text-red-400", "font-mono"]}>
			{information.getByLocale("firstName", locale)}
			{information.getByLocale("lastName", locale)}
		</span>
	</div>
	<div class:list={["mt-4"]}>
		<a href="/blog">Go to blog</a>
	</div>
</DefaultLayout>
