---
import { Picture } from "astro:assets";

import DefaultLayout from "@layouts/DefaultLayout.astro";
import CenterContainer from "@components/molecules/CenterContainer.svelte";

import { getStaticPathsWithLocale } from "@core/utils/path";
import { getSingleton } from "@core/contents";

export const getStaticPaths = getStaticPathsWithLocale();

const { locale } = Astro.params;
const information = await getSingleton("information");
const ui = await getSingleton("ui");
---

<DefaultLayout title={ui.must("page.home.title", locale)} {locale}>
	<CenterContainer class="md:max-w-md">
		<Picture
			src={information.must("profilePicture")}
			alt="profile picture"
			formats={["avif", "webp"]}
			layout="constrained"
			width={256}
			loading="lazy"
			class="rounded-2xl"
		/>
		<h1
			class="text-2xl text-red-500 mt-2 text-center black:text-red-300 dark:text-red-400"
		>
			<span class="font-medium">
				{information.must("firstName", locale)}
				{information.must("lastName", locale)}
			</span>
			({information.must("nickName", locale)})
		</h1>
		<h2
			class="text-sm text-gray-500 mt-1 text-center black:text-gray-200 dark:text-gray-300"
		>
			<span class="font-medium">{information.must("title", locale)}</span>
			@
			{information.must("company", locale)}
		</h2>
		<p
			class="text-lg text-black mt-3 text-center black:text-white dark:text-white"
		>
			{information.must("summary", locale)}
		</p>
	</CenterContainer>
</DefaultLayout>
