---
import Icon from "@components/common/Icon.svelte";
import ThemeSwitch from "@components/common/ThemeSwitch.svelte";
import LocaleSwitch from "@components/common/LocaleSwitch.svelte";
import { getLocale } from "@utils/i18n";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<header>
	<nav
		class:list={[
			"flex",
			"flex-row",
			"items-center",
			"justify-between",
			"bg-blue-400",
			"px-2 sm:px-6 lg:px-8",
			"h-12",
			"max-w-screen",
		]}
	>
		<div class="flex flex-1 flex-row items-center justify-stretch">
			<Icon as="a" class="i-line-md:watch-twotone-loop" size="md" href="/" />
			<span class="text-xl font-light font-sans px-2">{title}</span>
		</div>
		<div class="flex flex-row">
			<ThemeSwitch />
			<LocaleSwitch current={getLocale(Astro.currentLocale)} />
		</div>
	</nav>
</header>
