---
import type { ComponentProps } from "astro/types";
import type HeadHelmet from "@components/base/HeadHelmet.astro";

import Icon from "@components/common/Icon.svelte";
import ThemeSwitch from "@components/common/ThemeSwitch.svelte";
import LocaleSwitch from "@components/common/LocaleSwitch.svelte";
import { getPathWithLocale, goToHome } from "@utils/i18n";

type Props = Pick<ComponentProps<typeof HeadHelmet>, "locale" | "title">;

const { locale, title } = Astro.props;
---

<header>
	<nav
		class:list={[
			"flex",
			"flex-row",
			"items-center",
			"justify-between",
			"bg-blue-400",
			"px-2 sm:px-6 lg:px-8",
			"h-12",
			"max-w-screen",
		]}
	>
		<div class="flex flex-1 flex-row items-center justify-stretch">
			<Icon
				as="a"
				class="i-line-md:watch-twotone-loop"
				size="md"
				href={goToHome(locale)}
			/>
			<a
				href={getPathWithLocale(Astro.url.pathname, locale)}
				class="text-xl font-light font-sans px-2">{title}</a
			>
		</div>
		<div class="flex flex-row">
			<ThemeSwitch />
			<LocaleSwitch currentUrl={Astro.url} currentLocale={locale} />
		</div>
	</nav>
</header>
