---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div class:list={["flex", "items-center", "justify-start"]}>
	<span
		class:list={["i-line-md:github-loop", "text-4xl", "mx-2"]}
		aria-hidden="true"
	>
	</span>
	<h1 class="text-5xl font-bold font-sans">{text}</h1>
</div>
