---
import BlogLayout from "@layouts/BlogLayout.astro";

import { getLocale, getLocales } from "@utils/i18n";
import { getCollections } from "@utils/contents";
import { getPostUrl } from "@utils/keystatic/posts";

export function getStaticPaths() {
	return getLocales().map((locale) => ({ params: { locale } }));
}

const locale = getLocale(Astro.currentLocale);
const posts = await getCollections("posts");
---

<BlogLayout title="Posts">
	<ul>
		{
			posts
				.filter((post) => getLocale(post.id) === locale)
				.map((post) => (
					<li>
						<a href={getPostUrl(post.id)}>{post.get("title")}</a>
					</li>
				))
		}
	</ul>
</BlogLayout>
