---
import type { BaseProps, WithChildren, WithComponent } from "@core/types/astro";
import Div from "@components/atoms/Div.svelte";

type Props = BaseProps & WithChildren & WithComponent<typeof Div>;

let { class: className, ...rest }: Props = Astro.props;
---

<Div
	class={["min-h-full w-full pb-4 pt-6 px-6 md:px-40 lg:px-48", className]}
	{...rest}
>
	<slot />
</Div>
