---
import BlogLayout from "@layouts/BlogLayout/BlogLayout.astro";
import Container from "@components/molecules/Container/Container.astro";

import { getCollections, getSingleton } from "@core/contents";
import { pageLogger } from "@core/constants/logger";
import { goToBlog, getLocaleRoute } from "@core/models/route";
import { getStaticPathsWithLocale } from "@core/utils/path";
import { buildLocalePosts } from "@core/utils/posts";

export const getStaticPaths = getStaticPathsWithLocale();

const { locale } = Astro.params;
const logger = pageLogger.extend("blog", "index");
const ui = await getSingleton("ui");
const posts = buildLocalePosts(await getCollections("posts")).filter(
	(post) => post.pageLocale === locale,
);
logger.debug("Show '%d' posts from locale=%s", posts.length, locale);
---

<BlogLayout {locale} title={ui.must("page.blog.title", locale)}>
	<Container>
		<ul class="list-disc">
			{
				posts.map((post) => (
					<li>
						<a
							href={goToBlog(
								locale,
								getLocaleRoute(post.name, post.pageLocale).rawPath,
							)}
						>
							{post.entry.get("title")}
						</a>
					</li>
				))
			}
		</ul>
	</Container>
</BlogLayout>
