---
import BlogLayout from "@layouts/BlogLayout.astro";

import { getCollections, getSingleton } from "@core/contents";
import { goToBlog, getLocaleRoute } from "@core/models/route";
import { getStaticPathsWithLocale } from "@core/utils/path";
import { getLocale } from "@core/utils/locale";

export const getStaticPaths = getStaticPathsWithLocale();

const { locale } = Astro.params;
const ui = await getSingleton("ui");
const posts = await getCollections("posts");
---

<BlogLayout {locale} title={ui.must("page.blog.title", locale)}>
	<ul>
		{
			posts
				.filter((post) => getLocale(post.id) === locale)
				.map((post) => (
					<li>
						<a href={goToBlog(locale, getLocaleRoute(post.id).rawPath)}>
							{post.get("title")}
						</a>
					</li>
				))
		}
	</ul>
</BlogLayout>
