---
import type { BaseProps, WithComponent } from "@core/types/astro";
import type HeadHelmet from "@components/organisms/HeadHelmet.astro";
import type { AstroInstance } from "astro";

import { goToHome } from "@core/models/route";
import ThemeSwitch from "@components/molecules/ThemeSwitch.svelte";
import LocaleSwitch from "@components/molecules/LocaleSwitch.svelte";
import Icon from "@components/atoms/Icon.svelte";

type Props = BaseProps &
	Pick<WithComponent<typeof HeadHelmet>, "locale" | "title">;

const { locale, title } = Astro.props;
---

<header
	class="px-2 py-3 bg-blue-300 lg:px-8 sm:px-6 black:bg-blue-900 dark:bg-blue-600"
>
	<nav class:list={["flex", "flex-row", "items-center", "justify-between"]}>
		<div class="flex flex-1 flex-row items-center justify-stretch">
			<Icon as="a" class="i-lineicons:menu-hamburger-1" size="md" />
			<a
				href={goToHome(locale)}
				class="text-xl font-light font-sans px-2 uppercase">{title}</a
			>
		</div>
		<div class="flex flex-row">
			<ThemeSwitch client:only="svelte" />
			<LocaleSwitch
				client:only="svelte"
				currentUrl={Astro.url}
				currentLocale={locale}
			/>
		</div>
	</nav>
</header>
