---
import type { ComponentProps } from "astro/types";
import type HeadHelmet from "@components/organisms/HeadHelmet.astro";

import ThemeSwitch from "@components/molecules/ThemeSwitch.svelte";
import LocaleSwitch from "@components/molecules/LocaleSwitch.svelte";
import Icon from "@components/atoms/Icon.svelte";
import { goToHome } from "@utils/i18n";

type Props = Pick<ComponentProps<typeof HeadHelmet>, "locale" | "title">;

const { locale, title } = Astro.props;
---

<header
	class="black:bg-blue-900 px-2 py-3 bg-blue-300 lg:px-8 sm:px-6 dark:bg-blue-600"
>
	<nav class:list={["flex", "flex-row", "items-center", "justify-between"]}>
		<div class="flex flex-1 flex-row items-center justify-stretch">
			<Icon as="a" class="i-lineicons:menu-hamburger-1" size="md" />
			<a
				href={goToHome(locale)}
				class="text-xl font-light font-sans px-2 uppercase">{title}</a
			>
		</div>
		<div class="flex flex-row">
			<ThemeSwitch client:load />
			<LocaleSwitch client:load currentUrl={Astro.url} currentLocale={locale} />
		</div>
	</nav>
</header>
