---
import type { BaseProps, WithComponent } from "@core/types/astro";

import HeadHelmet from "@components/organisms/HeadHelmet.astro";
import BodyFooter from "@components/organisms/BodyFooter.astro";
import BodyHeader from "@components/organisms/BodyHeader.astro";
import BodyMain from "@components/organisms/BodyMain.astro";

import { getLocaleISO } from "@core/utils/locale";
import { ClientRouter } from "astro:transitions";

type Props = BaseProps<{
	mainLocale?: string;
}> &
	WithComponent<typeof HeadHelmet>;

const props = Astro.props;
---

<html lang={getLocaleISO(props.locale)}>
	<head>
		<HeadHelmet {...props} />
		<slot name="head" />
		<ClientRouter />
	</head>
	<body
		class:list={[
			"font-sans",
			"font-light",
			"transition ease-in-out duration-150",
			"bg-white",
			"dark:bg-gray-700",
			"black:bg-black",
		]}
	>
		<div class="h-screen">
			<slot name="header">
				<BodyHeader locale={props.locale} title={props.title} />
			</slot>
			<BodyMain locale={props.mainLocale}>
				<slot />
			</BodyMain>
			<slot name="footer"><BodyFooter /></slot>
		</div>
	</body>
</html>

<style>
	html.black {
		color-scheme: dark;
	}
</style>
